<header class="topo">
  <h1>Angular na prática</h1>
  <nav class="abas">
    <button
      *ngFor="let aba of abas"
      class="aba"
      [class.ativa]="secao() === aba.id"
      (click)="ir(aba.id)">
      {{ aba.rotulo }}
    </button>
  </nav>
</header>

<main [ngSwitch]="secao()">
  <app-intro *ngSwitchCase="'intro'"></app-intro>
  <app-componente-lego *ngSwitchCase="'componente'"></app-componente-lego>
  <app-trio *ngSwitchCase="'trio'"></app-trio>
  <app-comparacao *ngSwitchCase="'comparacao'"></app-comparacao>
  <app-dados-vivos *ngSwitchCase="'dados'"></app-dados-vivos>
</main>
